.box{
    width: 20rem;
    height: 20rem;
    border: 1px solid rgb(248, 248, 248)
}

.accept{
    background-color: rgb(86, 209, 86);
    color: rgb(77, 66, 66);
}

.error{
    background-color: red;
    color: black;
}


